.location-weather {
  background-color: rgba(255,255,255,0.4);
  margin: 5px 0px;
  border: 2px solid black;
  width: 300px;
  min-width: 300px;
}

.name-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px 10px;
  border-bottom: 2px solid black;
  height: 80px;
}

.name-container-left {
  width: 50%;
}

.name-container-right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.main-weather-container {
  display: flex;
  flex-direction: column;
}


@media screen and (min-width: 480px) {
  .location-weather {
    width: 400px;
  }
}
@media screen and (min-width: 768px) {
  .name-container {
    height: 100px;
  }

  .location-weather {
    width: 450px;
  }
}
@media screen and (min-width: 1024px) {
  .main-weather-container {
    flex-direction: row;
    padding: 0px 10px;
  }

  .location-weather {
    width: 650px;
  }

  .name-container {
    height: 80px;
  }
}

/* 480px,
640px,
768px,
1024px,
1200px */