.location-weather {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(255,255,255,0.4);
  margin: 5px 0px;
}

.name-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0px 10px;
  border: 2px solid black;
  border-bottom: 0px;
}

.name-container-left {
  /* border: 1px solid red; */
  width: 100%;
}

.remove-location {
  /* width: 100%; */
}

.forecast-container {
  display: flex;
}

.daily-weather-container {
  border: 2px solid black;
}

.future-forecast {
  display: flex;
  flex-direction: column;
}

.current-weather {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
}

.current-weather-left {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.current-weather-right {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}